.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;

  @include breakpoint("lg") {
    padding: 4rem;
  }

  @include breakpoint("md") {
    padding: 2.2rem;
  }

  @include breakpoint("sm") {
    padding: 1.2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }

  &__overflow {
    overflow: hidden;

    &--margin-bottom {
      margin-bottom: 2.5rem;
    }
  }

  &__title {
    font-size: 14rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;

    @include breakpoint("lg") {
      font-size: 11.5rem;
    }

    @include breakpoint("md") {
      font-size: 9rem;
    }

    @include breakpoint("sm") {
      font-size: 5.5rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &__scroll {
    font-size: 1.3rem;
    text-transform: uppercase;
    display: block;
  }
}
