.progress-bar {
  --progress-fill-color: rgba(245, 245, 245, 0.15);
  background-color: transparent;
  height: 1px;
  width: 100%;
  overflow: hidden;

  &--light {
    --progress-fill-color: var(--color-dark);
  }

  &--light-grey {
    --progress-fill-color: var(--color-border-line);
  }

  &__fill {
    background-color: var(--progress-fill-color);
    height: 100%;
    width: 100%;
  }
}
