.progress-bar {
  background-color: transparent;
  height: 1px;
  width: 100%;
  overflow: hidden;
  opacity: var(--progress-opacity);

  &__fill {
    background-color: var(--progress-fill-color);
    height: 100%;
    width: 100%;
  }

  &--always-dark {
    opacity: 0.3;

    .progress-bar__fill {
      background-color: #f0f0f0;
    }
  }
}

.light-mode .progress-bar--light {
  --progress-opacity: 0.15;
}
