.swiper {
  display: flex !important;
  align-items: center;
  width: 100% !important;
  overflow: hidden;
  transform-origin: center !important;

  &--absolute {
    position: absolute !important;
    top: 200px;
  }

  &__wrapper {
    height: 60% !important;
  }

  &__slide {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: transform 400ms ease-in-out;

    &:first-child {
      margin-left: 5.5rem;
    }

    &:last-child {
      margin-right: 10.5rem !important;
    }
  }

  &__shades {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #050505;
    z-index: 99999;
    animation: open-slide 800ms ease-in forwards 1s;
    animation-play-state: paused;

    @keyframes open-slide {
      100% {
        height: 0%;
      }
    }
  }

  &__content {
    display: flex;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 498px;
    overflow: hidden;

    @media screen and (min-width: 1240px) {
      min-height: 392px;
    }

    @include breakpoint("lg") {
      min-height: 392px;
    }

    @include breakpoint("sm") {
      min-height: 264px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    animation: zoom-out 1200ms ease-in forwards 1.4s;
    animation-play-state: paused;
    position: relative;

    @keyframes zoom-out {
      100% {
        height: 100%;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 150%) rotateX(270deg) rotateZ(-15deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    display: block;
    width: 150%;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: #fff;
    opacity: 0.3;
    transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: clip 400ms linear forwards;
    animation-play-state: paused;

    @keyframes clip {
      0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      100% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      }
    }
  }

  &__slide:hover &__title {
    opacity: 1;
    transform: translate(-50%, 50%) rotateX(360deg) rotateZ(-15deg);
  }

  &__year {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg) translateY(calc(86% - 8px)) translateX(46px);
    font-size: 1.25rem;
    color: #fff;
    line-height: 1;
    width: fit-content;
    height: fit-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    & span {
      display: block;
      transform: translateY(20px);
      transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__slide:hover &__year {
    & span {
      transform: translateY(0px);
    }
  }

  &__title-bottom {
    display: block;
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateX(64px);
    margin-top: .8rem;

    & span {
      display: block;
      transform: translateY(20px);
      transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__slide:hover &__title-bottom {
    & span {
      transform: translateY(0px);
    }
  }

  &__pagination {
    display: none;
  }
}