.carousel {
  display: flex;
  color: var(--color-light-always);

  @include breakpoint("md") {
    font-size: 4.5rem;
  }

  @include breakpoint("sm") {
    font-size: 3rem;
  }

  &--margin-bottom {
    margin-bottom: 15rem;
  }

  &__span {
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 1;
    white-space: nowrap;
    margin-right: 6rem;

    @include breakpoint("md") {
      font-size: 5.5rem;
    }

    @include breakpoint("sm") {
      font-size: 4rem;
    }
  }
}
