.arrow-button {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-light);
  border: none;
  cursor: pointer;

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-dark);
  }

  &--up {
    background-color: var(--color-light-always);

    .arrow-button__icon {
      color: var(--color-dark-always);
      transform: rotate(-90deg);
    }
  }

  &--dark {
    background-color: var(--color-dark);

    .arrow-button__icon {
      color: var(--color-light);
    }
  }
}
