.footer {
  width: 100%;
  padding: 0 5.5rem;
  overflow: hidden;

  @include breakpoint("md") {
    padding: 0 3.5rem;
  }

  @include breakpoint("sm") {
    padding: 0 2rem;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
  }

  &__text {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;

    &--thin {
      font-weight: 400;
    }

    &--margin-bottom {
      margin-bottom: 15rem;
    }
  }

  &__link {
    font-size: 1.5rem;
    text-transform: uppercase;

    &:link,
    &:visited {
      color: var(--color-light);
      text-decoration: none;
    }
  }

  &__progress-bar {
    --progress-fill-color: rgba(245, 245, 245, 0.15);
  }

  &__carousel {
    display: flex;
    gap: 6rem;

    @include breakpoint("md") {
      font-size: 4.5rem;
    }

    @include breakpoint("sm") {
      font-size: 3rem;
    }

    &--margin-bottom {
      margin-bottom: 15rem;
    }
  }

  &__span {
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 1;
    white-space: nowrap;

    @include breakpoint("md") {
      font-size: 5.5rem;
    }

    @include breakpoint("sm") {
      font-size: 4rem;
    }
  }

  &__based {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 25rem;

    @include breakpoint("md") {
      grid-template-columns: 1fr;
    }
  }

  &__placeholder {
    height: 5rem;
    width: 5rem;

    &--dark {
      margin-left: auto;
    }

    @include breakpoint("md") {
      display: none;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__up {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include breakpoint("md") {
      display: none;
    }
  }

  &__button-up {
    margin-left: 2rem;
  }

  &__touch {
    text-transform: uppercase;
    font-size: 12rem;
    margin: 4rem 0;
    text-align: center;

    @include breakpoint("lg") {
      font-size: 10rem;
    }

    @include breakpoint("md") {
      font-size: 7rem;
    }

    @include breakpoint("sm") {
      font-size: 4rem;
    }
  }

  &__social {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__year {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;

    @include breakpoint("md") {
      display: none;
    }
  }

  &__link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
